<div>
  <div class="text-black grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-1">
    <div class="bg-cyan-100 pl-2" *ngFor="let item of pagitionProduct">
      <h1 class="text-xl">{{ item.name }}</h1>
      <p class="text-base">{{ item.category }}</p>
      <p class="text-base">{{ item.descript }}</p>
      <p class="text-base">เหลือ : {{ item.quantity }}</p>
      <p class="text-base">ราคา : {{ item.price }}</p>
    </div>
  </div>

  <div class="flex justify-center gap-5 py-5">
      <button
        *ngFor="let page of [].constructor(totalPages); let i = index"
        (click)="onNextPage(i + 1)"
        [ngClass]="{
          'bg-blue-800 text-white': currentPage === i + 1,
          'bg-blue-200 text-black': currentPage !== i + 1
        }"
        class="outline outline-blue-500 min-w-6 min-h-6"
      >
        {{ i + 1 }}
      </button>
    </div>
</div>
